// Layout
@use 'layouts';

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';


.rounded-image {
    width: 600px;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
}

.static-button-event-details {
    width: 150px;
}
