@import url("https://fonts.bunny.net/css?family=Nunito");
section.event-index div.container {
  background-color: #ffffff;
}
section.event-index h2 {
  font-weight: 300;
  padding: 25px;
  margin: 0 0 25px 0;
  border-bottom: 4px #8498ad solid;
  background-color: #e8f0f8;
}
section.event-index div.event-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
section.event-index div.event-list a.event {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(2, auto);
  width: -webkit-fill-available;
  padding: 5px 15px;
  transition: all 250ms;
  text-decoration: none;
  color: #2c2e31;
}
section.event-index div.event-list a.event:hover {
  background-color: #8498ad;
  color: #e8f0f8;
}
section.event-index div.event-list a.event:hover button.event-button {
  color: #e8f0f8;
}
section.event-index div.event-list span.event-title {
  grid-column: 1/span 3;
  grid-row: 1;
}
section.event-index div.event-list span.event-location {
  display: flex;
  align-items: center;
  grid-column: 5/span 1;
  grid-row: 1/span 2;
  gap: 10px;
}
section.event-index div.event-list div.event-timewindow {
  display: flex;
  gap: 10px;
  align-items: center;
  grid-column: 1/span 3;
  grid-row: 2;
}
section.event-index div.event-list button.buy-tickets {
  grid-column: 6;
  grid-row: 1/span 2;
}
section.event-index div.event-list button.edit-event {
  grid-column: 7;
  grid-row: 1/span 2;
}
section.event-index div.event-list button.remove-event {
  grid-column: 8;
  grid-row: 1/span 2;
}
section.event-index div.event-list span.event-availability {
  display: flex;
  align-items: center;
  grid-column: 4;
  grid-row: 1/span 2;
  gap: 10px;
}
section.event-index div.event-overview {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 40px) / 3));
  grid-template-rows: repeat(5, 300px);
  gap: 25px;
  background-color: #ffffff;
}
section.event-index div.event-overview a.event {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, 16.6666666667%);
  grid-template-rows: repeat(4, 25%);
  justify-items: flex-start;
  transition: all 250ms;
  text-decoration: none;
  color: #2c2e31;
  border-radius: 20px;
  background-color: #e8f0f8;
  box-shadow: 2px 3px 20px 0px rgba(132, 152, 173, 0.25);
  padding: 15px;
}
section.event-index div.event-overview a.event svg.svg {
  position: absolute;
}
section.event-index div.event-overview a.event img.event-banner {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: url("#circle");
  border-radius: 20px;
  opacity: 0.25;
  -moz-opacity: 0.25;
  filter: alpha(opacity=25);
}
section.event-index div.event-overview a.event:hover {
  background-color: #8498ad;
  color: #e8f0f8;
}
section.event-index div.event-overview a.event:hover button.event-button {
  color: #e8f0f8;
}
section.event-index div.event-overview a.event:hover span.event-title {
  border-bottom: 2px solid;
}
section.event-index div.event-overview a.event:hover img.event-banner {
  opacity: 0.85;
  -moz-opacity: 0.85;
  filter: alpha(opacity=85);
}
section.event-index div.event-overview span,
section.event-index div.event-overview div {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 2;
}
section.event-index div.event-overview span.event-title {
  grid-column: 1/span 6;
  grid-row: 1;
  font-size: 1.8em;
  border-bottom: 2px #8498ad solid;
}
section.event-index div.event-overview span.event-location {
  grid-column: 1/span 3;
  grid-row: 2;
}
section.event-index div.event-overview span.event-availability {
  grid-column: 4/span 2;
  grid-row: 2;
}
section.event-index div.event-overview div.event-timewindow {
  grid-column: 1/span 5;
  grid-row: 3;
}
section.event-index div.event-overview button.buy-tickets {
  grid-column: 5;
  grid-row: 4;
}
section.event-index .event-button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all 250ms;
  text-decoration: none;
  color: #2c2e31;
  width: max-content;
  padding: 15px;
}
section.event-index .event-button:hover {
  background-color: #c8dcf1;
  color: #2c2e31 !important;
}
section.event-index .event-button.dark-hover {
  background-color: transparent;
}
section.event-index .event-button.dark-hover:hover {
  background-color: #8498ad;
  color: #e8f0f8 !important;
}

section.insight {
  padding: 20px 0;
}
section.insight div.container {
  border-bottom: 2px solid #8498ad;
  background-color: #e8f0f8;
}
section.insight div.container table {
  width: 100%;
}
section.insight div.container table tbody {
  width: 100%;
}
section.insight div.container table tr {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, auto);
  align-items: center;
}
@media (min-width: 576px) and (max-width: 768px) {
  section.insight div.container table tr {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
  }
}
@media (max-width: 576px) {
  section.insight div.container table tr {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
  }
}
section.insight div.container table td {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
section.insight div.container table td:hover {
  background-color: #e8f0f8;
}
section.insight div.container table .small.italic {
  font-size: 0.6em;
  font-weight: 700;
  font-style: italic;
}
section.insight div.container table .align-right {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
}
section.insight div.container a {
  text-decoration: none;
  color: #2c2e31;
  background-color: #e8f0f8;
  align-self: center;
  transition: 150ms all;
  padding: 15px 10px;
}
section.insight div.container a i {
  margin-right: 10px;
}
section.insight div.container a:hover {
  color: #f8fafc;
  background-color: #8498ad;
}

nav.navbar div.container a.menu-button {
  text-decoration: none;
  color: #2c2e31;
  background-color: #e8f0f8;
  align-self: center;
  transition: 150ms all;
  padding: 15px 10px;
}
nav.navbar div.container a.menu-button i {
  margin-right: 10px;
}
nav.navbar div.container a.menu-button:hover {
  color: #f8fafc;
  background-color: #8498ad;
}

@media (min-width: 2000px) {
  div.container {
    max-width: 1860px;
  }
}
@media (min-width: 1400px) and (max-width: 2000px) {
  div.container {
    max-width: 1360px;
  }
}
.rounded-image {
  width: 600px;
  height: 300px;
  border-radius: 12px;
  object-fit: cover;
}

.static-button-event-details {
  width: 150px;
}

/*# sourceMappingURL=app.css.map */
