@use "../variables" as *;
@use '../screens' as *;

section.insight {
    div.container {
        border-bottom: 2px solid $border-color;
        background-color: $container-bg;
    }

    div.container table {
        width: 100%;

        tbody {
            width: 100%;
        }

        tr {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(6, auto);

            @include screen-sm{
                grid-template-rows: repeat(5, auto);
                grid-template-columns: auto;
            }

            @include screen-xs{
                grid-template-rows: repeat(5, auto);
                grid-template-columns: auto;
            }

            align-items: center;
        }

        td {
            margin: 10px;
        }

        .align-right {
            display: flex;
            justify-content: space-between;

            justify-self: flex-end;
        }
    }

    div.container a {
        text-decoration: none;

        color: $text-color;
        background-color: $container-bg;

        align-self: center;
        transition: 150ms all;
        padding: 15px 10px;

        i{
            margin-right: 10px;
        }

        &:hover {
            color: $body-bg;
            background-color: $border-color;
        }
    }
}
