@use "../variables" as *;

a.insight-button {
    display: flex;
    align-items: center;

    text-decoration: none;

    background-color: $container-bg;
    color: $text-color;

    transition: 150ms all;
    padding: 10px 15px;

    &:hover {
        background-color: $border-color;
        color: $body-bg;
    }

    i {
        margin-right: 15px;

        height: min-content;

        font-size: 1.7em;
    }
}

section.event-insight {
    padding: 30px 0;

    div.container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, auto);

        row-gap: 20px;

        background-color: $container-bg;
        padding: 20px;

        div.inventory-column,
        div.winnings-column,
        div.orders-column {
            display: flex;
            flex-direction: column;
        }

        div.inventory-column,
        div.winnings-column {
            grid-row: 1;

            border-bottom: $border-color 4px solid;
        }

        div.intentory-column {
            grid-column: 1;
        }

        div.winnings-column {
            grid-column: 2;
        }

        div.orders-column {
            grid-row: 2;
            grid-column: 1 / span 2;

            h4{
                margin-bottom: 30px;
            }

            table {
                height: 100%;
                width: 100%;
            }
        }

        p.big-and-bold {
            font-size: map-get($map: $big-and-bold, $key: "size");
            font-weight: map-get($map: $big-and-bold, $key: "weight");
        }

        a {
            display: flex;
            align-items: center;

            text-decoration: none;

            background-color: $container-bg;
            color: $text-color;

            transition: 150ms all;
            padding: 10px 15px;

            &:hover {
                background-color: $border-color;
                color: $body-bg;
            }

            i {
                margin-right: 15px;

                height: min-content;
            }
        }
    }

    div.error-container{
        grid-column: 1 / span 2;
        grid-row: 2;

        display: flex;
        align-items: center;

        padding: 15px;

        i{
            margin-right: 20px;
        }

        p{
            margin: 0;
        }
    }
}
